Source: pardus-xfce-icon-theme
Section: xfce
Priority: extra
Maintainer: Yusuf Düzgün <yusuf.duzgun@pardus.org.tr>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.8
Homepage: http://pardus.org.tr

Package: pardus-xfce-icon-theme
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Description: Pardus Xfce Icon Theme for Pardus XFCE desktop environment
 Pardus xfce icon theme package have 2 icon theme set.
 "pardus-xfce-icon-theme" for normal(white) panel.
 "pardus-xfce-icon-theme-dark" for dark(black) panel.
